h1{
    font-size: 3em;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: system-ui;
    font-weight: 500;
}

header{
    position: relative;
}

header input{
    text-align: left;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: rgb(187 187 187);
    width: 30%;
    margin-bottom: 2%;
    height: 1.3em;

    font-size: 1em;
    font-family: system-ui;
    font-weight: 500;

    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.7);
    transition: transform 0.5s cubic-bezier(0.67, -0.33, 0.62, 1.35), box-shadow 0.4s ease;
}

header input[type=text]:focus {
    box-shadow: 0px 30px 1em -25px rgba(0, 0, 0, 0.4);
    transform: scale(1.5, 1.5);
  }

.displayItems h2{
    font-size: 1.2em;
    font-family: system-ui;
    font-weight: 400;
    height: 80px;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

section{
    margin: 0 auto;
    text-align: center;
}

.displayItems{
    display: grid;
    grid-template-rows: 20% 20% ;
    grid-template-columns: 40% 40%;
    grid-gap: 5%;
    align-items: start;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    text-align: center;
}

.displayItems li{
    list-style-type: none;
    margin-bottom: 5%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 12px 0px rgb(187 187 187);
    opacity: 0.8;
    transition: 0.3s;
}

.displayItems li:hover{
    opacity: 1;
}



.displayItems img{
    width: 100%;
    height: 200px;
    display: inline-block;
    object-fit: cover;
    border-radius: 10px;
}