h1{
    font-size: 3em;
    margin-top: 2%;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.displayItems h2{
    font-size: 1.2em;
    font-family: system-ui;
    font-weight: 400;
    height: 80px;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

section{
    margin: 0 auto;
    text-align: center;
}

.displayItems{
    display: grid;
    grid-template-rows: 20% 20%;
    grid-template-columns: 40% 40%;
    grid-gap: 5%;
    align-items: start;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    text-align: center;
}

.displayItems li{
    list-style-type: none;
    margin-bottom: 5%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 12px 0px rgb(187 187 187);
    opacity: 0.8;
    transition: 0.3s;
}

.displayItems li:hover{
    opacity: 1;
}



.displayItems img{
    width: 100%;
    height: 200px;
    display: inline-block;
    object-fit: cover;
    border-radius: 10px;
}